#menu-sp {
  display: none;
}

#nav-sp {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#nav-pc {
  margin-left: auto;
}

#nav-pc ul {
  display: flex;
  padding-left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

#nav-pc a {
  text-decoration: none;
  margin-left: 20px;
  color: #0d0d0d;
}

#nav-pc li {
  list-style: none;
}

img {
  max-width: 100%; /* 画像の幅を親要素の幅に合わせる */
  height: auto; /* 画像の高さを自動調整 */
}

.bold-text {
  font-weight: bold;
}

/*====================
  スマートフォン用のスタイル
 =====================*/
 @media screen and (max-width: 767px) {
  /* PC用ナビゲーション非表示 */
  #nav-pc {
    display: none;
  }

body {
  min-width: 375px;
  margin: 0;
}

#nav-pc {
  display: none;
}

#menu-sp {
  display: block;
  float: right;
  padding: 0;
}

#nav-sp {
  background-color: #ce933e;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 100;
}

#nav-sp ul {
  padding-left: 0;
}

#nav-sp li {
  list-style: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 20px;
}

#logo-sp {
  margin-top: 80px;
  margin-bottom: 30px;
}

#nav-sp a {
  display: block;
}

#nav-sp a:link {
  color: #ffffff;
}

#nav-sp a:visited {
  color: #ffffff;
}

#nav-sp a:active {
  color: #ffffff;
}

#nav-sp .menu {
  text-decoration: none;
  display: block;
  margin-left: 20px;
  margin-right: 20px;
  height: 44px;
  font-size: 16px;
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-position: right top;
}
 }